openapi: 3.0.0
info:
  title: Phillips-Connect API
  version: '1.0'
  description: API Specification for Phillips-Connect Smart Trailer Solutions
  contact:
    name: Brent Whitney
    email: bwhitney@phillips-connect.com
servers:
  - url: 'https://api.phillips-connect.com'
    description: Prod API
paths:
  /reports:
    get:
      summary: Retrieve gateway reports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: ./device-report/models/report.v1.yaml
                  total_reports:
                    type: integer
                    description: Total number of reports that are returned
                  current_page:
                    type: integer
                    description: Current page index
                  total_pages:
                    type: integer
                    description: Total number of pages returned
                  response_message:
                    type: string
                  status:
                    type: boolean
            multipart/form-data:
              schema:
                type: object
                properties: {}
            text/html:
              schema:
                $ref: ./device-report/models/report.v1.yaml
            text/plain:
              schema:
                type: object
                properties:
                  '':
                    $ref: ./device-report/models/report.v1.yaml
                  total_reports:
                    type: integer
                    description: Total reports based on the search criteria specified in the request
                  current_page:
                    type: integer
                    description: Current page index
                  total_pages:
                    type: integer
                    description: Total number of pages based on the result set
          headers: {}
      operationId: get-device-report
      parameters:
        - schema:
            type: string
          in: query
          name: gateway-id
          description: |
            Required to search by gateway-id (imei). If the query-method is set to GATEWAY_NUMBER, the gateway-id must be specificied
        - schema:
            type: string
            enum:
              - DATETIME
              - REPORT_NUMBER
              - GATEWAY_NUMBER
              - LATEST
          in: query
          name: query-method
          description: |
            Indicates how to query the server

            REPORT-NUMBER is a sequential number assigned for each report that is generated across all customer devices

            GATEWAY_NUMBER is a sequential number assigned for each report that is generated per customer device

            DATETIME is the datetime of when the report is received by the PCT server
        - schema:
            type: string
          in: query
          name: from
          description: 'From: [server datetime | report number | gateway number]'
        - schema:
            type: string
          in: query
          name: to
          description: 'To: [server datetime | report number | gateway number]'
        - schema:
            type: integer
          in: query
          name: results-per-page
          description: Number of results per page. Default is 100 records
        - schema:
            type: integer
          in: query
          name: page-index
          description: 'For a multi-page query, returns the specified page (from 1 to total_pages) '
      description: |-
        Returns historical gateway reports. Reports are generated based on PCT event types.

        Open ended queries will pull recent reports across all gateways for a given customer (based on the data you are authorized to see, or you can limit this by providing a gateway-id (imei). 

        For further filtering, you can pass in a query method and provide the appropriate 'from' and 'to'. See specific instructions in the appropriate fields.   
      tags:
        - Reports
      x-internal: true
    parameters: []
  /reports-asc:
    get:
      summary: Retrieve gateway reports (Ascending Order)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: ./device-report/models/report.v1.yaml
                  total_reports:
                    type: integer
                    description: Total number of reports that are returned
                  current_page:
                    type: integer
                    description: Current page index
                  total_pages:
                    type: integer
                    description: Total number of pages returned
                  response_message:
                    type: string
                  status:
                    type: boolean
            multipart/form-data:
              schema:
                type: object
                properties: {}
            text/html:
              schema:
                $ref: ./device-report/models/report.v1.yaml
            text/plain:
              schema:
                type: object
                properties:
                  '':
                    $ref: ./device-report/models/report.v1.yaml
                  total_reports:
                    type: integer
                    description: Total reports based on the search criteria specified in the request
                  current_page:
                    type: integer
                    description: Current page index
                  total_pages:
                    type: integer
                    description: Total number of pages based on the result set
          headers: {}
      operationId: get-device-report-asc
      parameters:
        - schema:
            type: string
          in: query
          name: gateway-id
          description: |
            Required to search by gateway-id (imei). If the query-method is set to GATEWAY_NUMBER, the gateway-id must be specificied
        - schema:
            type: string
            enum:
              - DATETIME
              - REPORT_NUMBER
              - GATEWAY_NUMBER
              - LATEST
          in: query
          name: query-method
          description: |
            Indicates how to query the server

            REPORT-NUMBER is a sequential number assigned for each report that is generated across all customer devices

            GATEWAY_NUMBER is a sequential number assigned for each report that is generated per customer device

            DATETIME is the datetime of when the report is received by the PCT server
        - schema:
            type: string
          in: query
          name: from
          description: 'From: [server datetime | report number | gateway number]'
        - schema:
            type: string
          in: query
          name: to
          description: 'To: [server datetime | report number | gateway number]'
        - schema:
            type: integer
          in: query
          name: results-per-page
          description: Number of results per page. Default is 100 records
        - schema:
            type: integer
          in: query
          name: page-index
          description: 'For a multi-page query, returns the specified page (from 1 to total_pages) '
      description: |-
        Returns historical gateway reports. Reports are generated based on PCT event types.

        Open ended queries will pull recent reports across all gateways for a given customer (based on the data you are authorized to see, or you can limit this by providing a gateway-id (imei). 

        For further filtering, you can pass in a query method and provide the appropriate 'from' and 'to'. See specific instructions in the appropriate fields.   
      tags:
        - Reports
      x-internal: true
    parameters: []
  /reports-without-pagination:
    get:
      summary: Retrieve gateway reports (Without Pagination)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: ./device-report/models/report.v1.yaml
                  response_message:
                    type: string
                  status:
                    type: boolean
            multipart/form-data:
              schema:
                type: object
                properties: {}
            text/html:
              schema:
                $ref: ./device-report/models/report.v1.yaml
            text/plain:
              schema:
                type: object
                properties:
                  '':
                    $ref: ./device-report/models/report.v1.yaml
                  total_reports:
                    type: integer
                    description: Total reports based on the search criteria specified in the request
                  current_page:
                    type: integer
                    description: Current page index
                  total_pages:
                    type: integer
                    description: Total number of pages based on the result set
          headers: {}
      operationId: get-device-report-wo-pagination
      parameters:
        - schema:
            type: string
          in: query
          name: gateway-id
          description: |
            Required to search by gateway-id (imei). If the query-method is set to GATEWAY_NUMBER, the gateway-id must be specificied
        - schema:
            type: string
            enum:
              - DATETIME
              - REPORT_NUMBER
              - GATEWAY_NUMBER
              - LATEST
          in: query
          name: query-method
          description: Indicates how to query the server REPORT-NUMBER is a sequential number assigned for each report that is generated across all customer devices GATEWAY_NUMBER is a sequential number assigned for each report that is generated per customer device DATETIME is the datetime of when the report is received by the PCT server
        - schema:
            type: string
          in: query
          name: from
          description: 'From: [server datetime | report number | gateway number]'
        - schema:
            type: string
          in: query
          name: to
          description: 'To: [server datetime | report number | gateway number]'
        - schema:
            type: integer
          in: query
          name: max-results
          description: 'Number of results per page. Default is 100 records, Max 10000'
      description: |-
        Returns historical gateway reports. Reports are generated based on PCT event types.

        Open ended queries will pull recent reports across all gateways for a given customer (based on the data you are authorized to see, or you can limit this by providing a gateway-id (imei). 

        For further filtering, you can pass in a query method and provide the appropriate 'from' and 'to'. See specific instructions in the appropriate fields.   
      tags:
        - Reports
      x-internal: true
    parameters: []
  /token/login:
    post:
      summary: Generate a PCT API token
      tags:
        - Security Token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  tokenType:
                    type: string
                    enum:
                      - Bearer
      operationId: post-token-login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      description: Generate a token to be used in API calls
      x-internal: true
  /asset/assign:
    post:
      summary: Asset association
      tags:
        - Asset
      responses:
        '200':
          description: OK
      operationId: post-asset
      description: Called when a gateway is installed on an asset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gateway_id:
                  type: string
                asset_id:
                  type: string
                event_datetime:
                  type: string
                  description: Time that the gateway was associated to the gateway
        description: Associate an asset to a gateway
      x-internal: true
    parameters: []
  /asset/reassign:
    post:
      summary: Asset reassignment
      tags:
        - Asset
      responses:
        '200':
          description: OK
      operationId: post-asset-replace
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gateway_id:
                  type: string
                old_asset_id:
                  type: string
                new_asset_id:
                  type: string
                event_datetime:
                  type: string
        description: Move the gateway to a new asset
      description: Called when the gateway is moved to a different asset
      x-internal: true
    parameters: []
  /asset/unassign:
    post:
      summary: Asset dissociation
      tags:
        - Asset
      responses:
        '200':
          description: OK
      operationId: post-asset-remove
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gateway_id:
                  type: string
                asset_id:
                  type: string
                event_datetime:
                  type: string
        description: Dissociate the asset from a gateway
      description: Called when the gateway is uninstalled on an asset
      x-internal: true
    parameters: []
components:
  schemas: {}
  securitySchemes:
    API Key - 1:
      type: http
      scheme: bearer
